{
  "env": {
    "node": true,
    "mocha": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "camelcase": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "import/no-mutable-exports": 0,
  }
}
